body, html {
    height: 100%;
}

/* Main Menu */
#nav-text {
    font-family: 'Open Sans';
    font-size: 14px;
}

#dropdown-hover:hover {
    background-color: rgb(209, 161, 3);
}

#steam-color {
    color: rgb(209, 161, 3);
}

#xbox-color {
    color: rgb(209, 161, 3);
}

#hover-link:hover {
    color: rgb(209, 161, 3);
}

#hover-link {
    color: white;
}

#home {
    background-image: url(assets/main-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    box-shadow: inset 0 0 100px 20px black;
}

/* Main Menu End Style */

/* Main Call To Action */
#main-text {
    font-family: 'Bebas Neue';
    color: white;
    font-size: 5rem;
    letter-spacing: 0.3rem;
    padding-top: 9%;
}

#info-text {
    font-family: 'Bebas Neue';
    color: white;
    font-size: 1.8rem;
}


#button-play {
    font-family: 'Open Sans';
    color: black;
    font-weight: 500;
}

#button-play:hover {
    animation-play-state: paused;
}

#button-play {
    animation: hover 3s infinite;
}

/* Animation */
@keyframes hover {
    0% {
        background-color: rgb(209, 161, 3);
    }

    25% {
        background-color: pink;
    }

    50% {
        background-color: aqua;
    }

    75% {
        background-color: green;
    }

    100% {
        background-color: rgb(209, 161, 3);
    }
}

#text-story1 {
    font-family: 'Open Sans';
    color: white;
    font-size: 1rem;
}

#text-story1:hover {
    color: rgb(209, 161, 3);
}

#pt-story {
    padding-top: 8%;
}

#pt-story {
    animation: scroll-Down 1.4s infinite;
    animation-name: scroll-Down;
}

/* Animation */
@keyframes scroll-Down {
    50% {
        transform: translateY(-20px);
    }

    75% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0px);
    }
}

/* MEDIA QUERRY */
@media (min-width: 576px) and (max-width: 767px) {

    #main-text {
        font-size: 3.5rem;
    }

    #pt-story {
        padding-top: 20%;
    }
}

/* MEDIA QUERRY UNDER 575px full manually because bootstrap responsive can handle maximum 576px(sm) only*/
@media (max-width: 575px) {
    #main-text {
        font-size: 3.3rem;
        letter-spacing: 0rem;
        padding-top: 9%;
    }

    #info-text {
        font-size: 1.4rem;
        letter-spacing: 0;
    }

    #pt-story {
        padding-top: 50%;
    }
}

/* Main Call To Action End Style */

/* Gameplay Options */
#gameplay-option {
    background-image: url(assets/the-games-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    box-shadow: inset 0 0 100px 20px black;
}

#text-game-option {
    font-family: 'Open Sans';
    font-size: 2rem;
}

#text-game-option-1 {
    font-family: 'Open Sans';
    font-size: 4rem;
}

/* MEDIA QUERRY UNDER 576px full manually because bootstrap responsive can handle maximum 576px(sm) only*/
@media (max-width: 565px) {
    #text-game-option {
        font-size: 1.5rem;
        padding-top: 10%;
        text-align: left;
    }

    #text-game-option-1 {
        font-size: 3.2rem;
        text-align: left;
    }

    #carousel-game-option {
        padding-top: 30%;
        padding-right: 4%;
        padding-left: 6%;
    }
}

/* Gameplay Options END Style */

/* Game Feature */
#game-feature {
    background-image: url(assets/features.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 106vh;
    box-shadow: inset 0 0 100px 20px black;
}

#text-size-feature {
    font-size: 2.2rem;
    color: white;
    font-family: 'Open Sans';
}

#text-size-feature1 {
    font-size: 5rem;
    color: white;
    font-family: 'Open Sans';
}

#text-title-feature p {
    color: white;
    font-family: 'Open Sans';
}

#text-title-feature h2 {
    color: rgb(209, 161, 3);
    font-family: 'Open Sans';
}

#text-title-feature {
    color: rgb(209, 161, 3);
    font-family: 'Open Sans';
}

/* MEDIA QUERRY */
@media (min-width: 576px) and (max-width: 768px) {
    #text-size-feature {
        font-size: 1.4rem;
    }

    #text-size-feature1 {
        font-size: 3rem;
    }

    #text-title-feature p {
        font-size: 0.8rem;
    }

    #text-title-feature h2 {
        font-size: 1.2rem;
    }

    #text-title-feature {
        font-size: 1.2rem;
    }
}

/* MEDIA QUERRY */
@media (min-width: 769px) and (max-width: 991px) {
    #text-size-feature {
        font-size: 1.8rem;
    }

    #text-size-feature1 {
        font-size: 3.5rem;
    }

    #text-title-feature p {
        font-size: 1rem;
    }

    #text-title-feature h2 {
        font-size: 1.2rem;
    }

    #text-title-feature {
        font-size: 1.2rem;
    }
}

/* MEDIA QUERRY between 575px to 500px full manually because bootstrap responsive can handle maximum 576px(sm) only*/
@media (max-width: 575px) and (min-width: 500px) {
    #game-feature {
        background-image: url(assets/features.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-height: 100vh;
        box-shadow: inset 0 0 100px 20px black;
    }

    #collumn-feature {
        text-align: left;
        padding-left: 52%;
    }

    #collumn-feature0 {
        text-align: left;
        padding-left: 52%;
    }

    #text-size-feature {
        font-size: 0.9rem;
    }

    #text-size-feature1 {
        font-size: 2.3rem;
    }

    #collumn-feature1 {
        text-align: left;
        padding-left: 52%;
        font-size: 0.7rem;
        padding-top: 5%;
        padding-right: 5%;
    }

    #collumn-feature1 h2 {
        font-size: 1.2rem;
    }

    #text-title-feature h2 {
        font-family: 'Open Sans';
        font-size: 1.2rem;
    }
}

/* MEDIA QUERRY UNDER 500px full manually because bootstrap responsive can handle maximum 576px(sm) only*/
@media (max-width: 499px) {
    #game-feature {
        background-image: url(assets/features.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 4% 50%;
        min-height: 100vh;
        box-shadow: inset 0 0 100px 20px black;
    }

    #collumn-feature {
        text-align: left;
        padding-left: 3%;
    }

    #collumn-feature0 {
        text-align: left;
        padding-left: 2%;
    }

    #text-size-feature {
        font-size: 1.2rem;
    }

    #text-size-feature1 {
        font-size: 3rem;
    }

    #collumn-feature1 {
        text-align: left;
        padding-right: 30%;
        font-size: 0.9rem;
        padding-top: 5%;
        padding-left: 2%;
    }

    #text-title-feature h2 {
        font-family: 'Open Sans';
    }
}

/* Game Feature End Stle  */

/* System Requirement */
#SystemRequirement {
    background-image: url(assets/requirements.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    box-shadow: inset 500px 50px 200px 10px black;
}

#TextTittleRequirement {
    font-size: 1.2rem;
    font-family: 'Open Sans';
    color: white;
    font-weight: bold;
}

#TextRequirement {
    font-family: 'Open Sans';
    color: white;
    font-size: 3rem;
    font-weight: bold;
}

#TableText h1 {
    color: rgb(209, 161, 3);
}

#TableText p {
    color: white;
}

/* MEDIA QUERRY */
@media (max-width: 991px) {
    #SystemRequirement {
        background-image: url(assets/requirements.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 65% 50%;
        min-height: 100vh;
        box-shadow: inset 250px 10px 100px 10px black;
    }

    #TextTittleRequirement {
        font-size: 1rem;
    }

    #TextRequirement {
        font-size: 2rem;
    }
}

/* System Requirement End Style  */

/* TopScore */
#TopScore {
    background-image: url(assets/top-score-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    box-shadow: inset 0 0 100px 20px black;
}

#TextTopScore h1 {
    font-family: 'Open Sans';
    font-size: 2.8rem;
    color: white;
    font-weight: bold;
    letter-spacing: 0.4rem;
}

#TextTopScore p {
    font-family: 'Open Sans';
    font-size: 1.2rem;
    color: white;

}

#TextTopScore .btn {
    width: 50%;
    font-weight: bold;
}

#header-text-img h2 {
    color: rgb(209, 161, 3);
    font-family: 'Open Sans';
    font-size: 1.6rem;
}

#header-text-img p {
    color: lightslategray;
    font-family: 'Open Sans';
    font-size: 1.2rem;
    position: absolute;
    top: 18%;
}

#header-text-img svg {
    color: blue;
}

#body-text h3 {
    font-family: 'Open Sans';
    color: white;
    font-size: 1.3rem;
}

#body-text p {
    color: gray;
    font-family: 'Open Sans';
    font-size: 1rem;
}

#header-text-img2 h2 {
    font-family: 'Open Sans';
    font-size: 1.6rem;
    color: rgb(209, 161, 3);
}

#header-text-img2 p {
    font-family: 'Open Sans';
    color: lightslategray;
    font-size: 1.2rem;
    position: absolute;
    top: 20%;
}

#header-text-img2 svg {
    color: blue;
}

#body-text2 h3 {
    font-family: 'Open Sans';
    color: white;
    font-size: 1.3rem;
}

#body-text2 p {
    color: gray;
    font-family: 'Open Sans';
    font-size: 1rem;
}

#header-text-img3 h2 {
    font-family: 'Open Sans';
    font-size: 1.5rem;
    color: rgb(209, 161, 3);
}

#header-text-img3 p {
    font-family: 'Open Sans';
    color: lightslategray;
    font-size: 1.2rem;
    position: absolute;
    top: 18%;
}

#header-text-img3 svg {
    color: blue;
}

#body-text3 h3 {
    font-family: 'Open Sans';
    color: white;
    font-size: 1.3rem;
}

#body-text3 p {
    color: gray;
    font-family: 'Open Sans';
    font-size: 1rem;
}

/* MEDIA QUERRY */
@media (min-width: 992px) and (max-width: 1199px) {

    #TextTopScore h1 {
        font-size: 2.4rem;
    }

    #header-text-img h2 {
        font-size: 1.4rem;
    }

    #header-text-img2 h2 {
        font-size: 1.3rem;
    }

    #header-text-img2 p {
        font-size: 1.1rem;
    }

    #header-text-img3 h2 {
        font-size: 1.2rem;
    }
}

/* MEDIA QUERRY */
@media (min-width: 768px) and (max-width: 991px) {

    #TextTopScore h1 {
        font-size: 1.5rem;
    }

    #TextTopScore p {
        font-size: 1rem;
    }

    #TextTopScore .btn {
        font-size: 0.8rem;
    }

    #header-text-img h2 {
        font-size: 1.4rem;
    }

    #header-text-img2 h2 {
        font-size: 1.3rem;
    }

    #header-text-img2 p {
        font-size: 1.1rem;
    }

    #header-text-img3 h2 {
        font-size: 1.2rem;
    }
}

/* MEDIA QUERRY */
@media (min-width: 576px) and (max-width: 767px) {

    #TextTopScore h1 {
        font-size: 2.5rem;
        letter-spacing: 0rem;
    }

    #TextTopScore p {
        font-size: 1rem;
    }

    #TextTopScore .btn {
        font-size: 0.8rem;
    }

    #header-text-img h2 {
        font-size: 1.8rem;
    }

    #header-text-img svg {
        width: 15%;
    }

    #header-text-img2 h2 {
        font-size: 1.8rem;
    }

    #header-text-img2 svg {
        width: 15%;
    }

    #header-text-img3 h2 {
        font-size: 1.8rem;
    }

    #header-text-img3 svg {
        width: 15%;
    }
}

/* MEDIA QUERRY between 364px - 575px full manually because bootstrap responsive can handle maximum 576px(sm) only */
@media (max-width: 575px) and (min-width: 364px) {

    #TextTopScore h1 {
        font-size: 1.7rem;
        letter-spacing: 0;
    }

    #TextTopScore p {
        font-size: 1.2rem;
        width: 90%;
    }

    #TextTopScore button {
        width: 30%;
        margin-bottom: 15px;
    }

    /* CARD 1 */
    #header-text-img svg {
        width: 18%;

    }

    #header-text-img img {
        width: 30%;
    }

    #header-text-img .head-text {
        font-size: 1.3rem;
        width: 48%;
    }

    #body-text h3 {
        font-size: 1.1rem;
    }

    #body-text p {
        font-size: 1rem;
    }

    /* CARD 2 */
    #header-text-img2 svg {
        width: 18%;

    }

    #header-text-img2 img {
        width: 30%;
    }

    #header-text-img2 .head-text {
        font-size: 1.3rem;
        width: 50%;
    }

    #body-text2 h3 {
        font-size: 1.1rem;
    }

    #body-text2 p {
        font-size: 1rem;
    }

    /* CARD 3 */
    #header-text-img3 svg {
        width: 18%;

    }

    #header-text-img3 img {
        width: 30%;
    }

    #header-text-img3 .head-text {
        width: 50%;
    }

    #header-text-img3 p {
        font-size: 1rem;
    }

    #header-text-img3 h2 {
        font-size: 1.2rem;
    }

    #body-text3 h3 {
        font-size: 1.1rem;
    }

    #body-text3 p {
        font-size: 1rem;
    }
}

/* MEDIA QUERRY UNDER 363px full manually because bootstrap responsive can handle maximum 576px(sm) only */
@media (max-width: 363px) {

    #TextTopScore h1 {
        font-size: 1.7rem;
        letter-spacing: 0;
    }

    #TextTopScore p {
        font-size: 1.2rem;
        width: 90%;
    }

    #TextTopScore button {
        width: 30%;
        margin-bottom: 15px;
    }

    /* CARD 1 */
    #header-text-img svg {
        width: 18%;

    }

    #header-text-img img {
        width: 30%;
    }

    #header-text-img .head-text {
        width: 50%;
    }

    #header-text-img h2 {
        font-size: 1.5rem;
    }

    #header-text-img p {
        font-size: 1rem;
    }

    #body-text h3 {
        font-size: 1.1rem;
    }

    #body-text p {
        font-size: 1rem;
    }

    /* CARD 2 */
    #header-text-img2 svg {
        width: 18%;

    }

    #header-text-img2 img {
        width: 30%;
    }

    #header-text-img2 .head-text {
        width: 50%;
    }

    #header-text-img2 h2 {
        font-size: 1.5rem;
    }

    #header-text-img2 p {
        font-size: 1rem;
    }

    #body-text2 h3 {
        font-size: 1.1rem;
    }

    #body-text2 p {
        font-size: 1rem;
    }

    /* CARD 3 */
    #header-text-img3 svg {
        width: 18%;
    }

    #header-text-img3 img {
        width: 30%;
    }

    #header-text-img3 .head-text {
        width: 52%;
    }

    #header-text-img3 h2 {
        font-size: 1.9rem;
    }

    #header-text-img3 p {
        font-size: 1rem;
    }

    #header-text-img3 h2 {
        font-size: 1.2rem;
    }

    #body-text3 h3 {
        font-size: 1.1rem;
    }

    #body-text3 p {
        font-size: 1rem;
    }
}


/* Top Score End Style  */

/* Footer  */
#footer {
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

#text-newsletter h1 {
    font-family: 'Open Sans';
    color: white;
    font-size: 3rem;
    font-weight: bold;
}

#text-newsletter h3 {
    font-family: 'Open Sans';
    color: white;
    font-size: 1.5rem;
}

#text-newsletter p {
    font-family: 'Open Sans';
    color: white;
    font-size: 1.3rem;
}

#form-email .email {
    font-family: 'Open Sans';
    color: white;
    font-size: 1.3rem;
}

#form-email input {
    font-family: 'Open Sans';
    color: white;
    font-size: 1.3rem;
}

#form-email .btn-text {
    font-family: 'Open Sans';
    color: black;
}

#form-email p {
    font-family: 'Open Sans';
    color: white;
    font-size: 1.3rem;
}

#logo-color p {
    color: white;
    font-size: 1rem;
    font-family: 'Open Sans';
    font-weight: bold;
}

#logo-color svg {
    color: rgb(209, 161, 3);
}

#logo-color svg {
    animation: direction 1.4s infinite;
}

/* Animation */
@keyframes direction {
    50% {
        transform: translateX(20px);
    }

    100% {
        transform: translateX(1px);
    }
}

#logo-color .fb {
    color: white;
}

#logo-color .twitter {
    color: white;
}

#logo-color .yt {
    color: red;
}

#logo-color .ig {
    color: white;
}

#text-footer p {
    font-family: 'Open Sans';
}

#text-footer a:link {
    text-decoration: none;
}

#text-footer a {
    color: white;
    font-family: 'Open Sans';
}

#text-footer a:hover {
    color: rgb(209, 161, 3);
}

/* MEDIA QUERRY UNDER 575px full manually because bootstrap responsive can handle maximum 576px(sm) only */
@media (max-width: 575px) {
    #text-newsletter h1 {
        font-size: 2rem;
    }

    #text-newsletter h3 {
        font-size: 1.5rem;
    }

    #text-newsletter p {
        font-size: 1rem;
    }

    #logo-color {
        margin-right: 3%;
    }

    #logo-color p {
        font-size: 0.7rem;
    }

    #logo-color .bi-arrow-right {
        width: 20%;
    }

    #logo-color .col-sm-1 {
        width: 15%;
        text-align: start;
        padding-right: 11%;
    }

    #logo-color .col-sm-5 {
        width: 40%;
    }

    #form-email .email {
        font-size: 1.2rem;
    }

    #form-email input {
        font-size: 1.2rem;
    }

    #form-email p {
        font-size: 1.1rem;
    }


    #text-footer p {
        font-size: 0.9rem;
        text-align: center;
    }

    #text-footer a {
        font-size: 0.7rem;
        margin-left: 10px;
    }

    #text-footer {
        padding-bottom: 12px;
    }
}

/* Footer End Style  */
/* fixed buttom button  */
.back-button {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    color: darkkhaki;
    text-align: center;
    font-size: 30px;
    z-index: 100;
}

.my-button {
    margin-top: 0px;
}

.my-button:hover {
    color: rgb(209, 161, 3);
}

.back-button {
    animation: hover1 2s infinite;
}

/* Animation */
@keyframes hover1 {
    0% {
        color: darkkhaki;
    }

    50% {
        color: grey;
    }

    100% {
        color: darkkhaki
    }
}

/* fixed buttom button end tag  */