body, html {
    height: 100%;
}

/* Main Menu */
#nav-text {
    font-family: 'Open Sans';
    font-size: 14px;
}

#dropdown-hover:hover {
    background-color: rgb(209, 161, 3);
}

#steam-color {
    color: rgb(209, 161, 3);
}

#xbox-color {
    color: rgb(209, 161, 3);
}

#hover-link:hover {
    color: rgb(209, 161, 3);
}

#hover-link {
    color: white;
}

#home {
    background-image: url(assets/main-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    box-shadow: inset 0 0 100px 20px black;
}

/* Main Menu End Style */

/* Main Call To Action */
#Main-Text {
    font-family: 'Bebas Neue';
    color: white;
    font-size: 5rem;
    letter-spacing: 0.3rem;
    padding-top: 9%;
}

#Info-Text {
    font-family: 'Bebas Neue';
    color: white;
    font-size: 1.8rem;
}


#button-play {
    font-family: 'Open Sans';
    color: black;
}

#button-play {
    animation-name: hover;
    animation: hover 3s infinite;
}

@keyframes hover {
    0% {
        background-color: rgb(209, 161, 3);
    }

    25% {
        background-color: pink;
    }

    50% {
        background-color: aqua;
    }

    100% {
        background-color: green;
    }
}

#text-story {
    font-family: 'Open Sans';
    color: white;
    font-size: 1rem;
}

#text-story:hover {
    color: rgb(209, 161, 3);
}

#pt-story {
    padding-top: 8%;
}

#pt-story {
    animation: scroll-Down 1.4s infinite;
    animation-name: scroll-Down;
}

@keyframes scroll-Down {
    50% {
        transform: translateY(-20px);
    }

    75% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0px);
    }
}

@media (max-width: 991px) {
    #Main-Text {
        font-family: 'Bebas Neue';
        color: white;
        font-size: 3.3rem;
        letter-spacing: 0rem;
        padding-top: 9%;
    }

    #Info-Text {
        font-family: 'Bebas Neue';
        color: white;
        font-size: 1.4rem;
        letter-spacing: 0;
    }

    #pt-story {
        padding-top: 50%;
    }
}

/* Main Call To Action End Style */

/* Gameplay Options */
#Gameplay-Option {
    background-image: url(assets/the-games-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    box-shadow: inset 0 0 100px 20px black;
}

#Text-Game-Option {
    font-family: 'Open Sans';
    font-size: 2rem;
}

#Text-Game-Option-1 {
    font-family: 'Open Sans';
    font-size: 4rem;
}

@media (max-width: 991px) {
    #Text-Game-Option {
        font-family: 'Open Sans';
        font-size: 1.5rem;
        padding-top: 10%;
        text-align: left;
    }

    #Text-Game-Option-1 {
        font-family: 'Open Sans';
        font-size: 3.2rem;
        text-align: left;
    }

    #carousel-game-option {
        padding-top: 30%;
    }
}

/* Gameplay Options END Style */

/* Game Feature */
#Game-Feature {
    background-image: url(assets/features.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 106vh;
    box-shadow: inset 0 0 100px 20px black;
}

#collumn-feature {
    padding-top: 10%;
    padding-right: 20%;
}

#text-size-feature h2 {
    font-size: 2.2rem;
    color: white;
    font-family: 'Open Sans';
}

#text-size-feature h1 {
    font-size: 5rem;
    color: white;
    font-family: 'Open Sans';
}

#collumn-feature1 {
    padding-top: 1.5%;
    padding-right: 15%;
    font-family: 'Open Sans';
}

#text-title-feature h2 {
    color: rgb(209, 161, 3);
    font-family: 'Open Sans';
}

@media (max-width: 991px) {
    #Game-Feature {
        background-image: url(assets/features.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 4% 50%;
        min-height: 100vh;
        box-shadow: inset 0 0 100px 20px black;
    }

    #collumn-feature {
        padding-top: 10%;
        text-align: left;
        padding-right: 50%;
    }

    #text-size-feature h2 {
        font-size: 1.3rem;
        color: white;
        font-family: 'Open Sans';
    }

    #text-size-feature h1 {
        font-size: 3rem;
        color: white;
        font-family: 'Open Sans';
    }

    #collumn-feature1 {
        padding-top: 1%;
        text-align: left;
        font-family: 'Open Sans';
        padding-right: 50%;
        font-size: 0.9rem;
    }

    #text-title-feature h2 {
        color: rgb(209, 161, 3);
        font-family: 'Open Sans';
    }
}

/* Game Feature End Stle  */

/* System Requirement */
#System-Requirement {
    background-image: url(assets/requirements.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    box-shadow: inset 0 0 100px 20px black;
}

/* System Requirement End Style  */

/* Top Score  */

/* Top Score End Style  */

/* Footer  */

/* Footer End Style  */